<button ng-click="pictureListVm.changeCategory()">
  Animal
</button>
<button ng-click="pictureListVm.changeCategoryLandscape()">
  Landscape
</button>
<div class="pictureColumns">
  <ul id="columns">
    <li ng-repeat="pictures in pictureListVm.pictures | filter:{categories: pictureListVm.filterParameter}">
      <img ng-src={{pictures.url}}>
      <!-- <a ui-sref="picturesShow({id: pictures._id})">More Info</a> -->
      <!-- <a ui-sref="picturesEdit({id: pictures._id})">Edit</a> -->
      <!-- <a href="" ng-click="picturesListVm.deletePictures(pictures)">Delete Me</a> -->
    </li>
  </ul>
</div>
